.Comments {
	background: $WHITE;
	box-shadow: $SHADOW;
	display: block;
	margin-bottom: 40px;
	padding: 70px 12%;
	
	& p {
		margin: 0 0 15px 0;
		
		&:last-child {
			margin: 0;
		}
	}
	
	& .submit {
		@extend %PRIMARY_BUTTON;
		margin-top: 25px;
	}
	
	& .comment-notes {
		float: right;
		font-size: 16px;
		margin: 30px 0 0 0;
	}
}

.Comments-title {
	margin: 0 0 40px 0;
}

.comments-list {
	margin: 40px 0 0 0;
	
	& .comment:last-child {
		margin: 0;
	}
}

.comment-header {
	margin-bottom: 20px;
}

.comment-reply-title {
	position: relative;
	text-transform: capitalize;
	
	& small {
		display: inline-block;
		float: right;
	}
	
	#cancel-comment-reply-link {
		font-size: 18px;
		
		&::before {
			content: '\f057';
			display: inline-block;
			font-family: $FONT_ICONS;
			margin-right: 5px;
		}
	}
}

.comment-reply-link::before {
	content: '\f075';
}

.comment-edit-link::before {
	content: '\f040';
}

.comment-reply-link,
.comment-edit-link {
	&::before {
		display: inline-block;
		font-family: $FONT_ICONS;
		margin-right: 7px;
		font-size: 16px;
	}
}

.gravatar {
	border-radius: 2px;
	float: left;
	margin: 0 1em 0 0;
	overflow: hidden;
	
	& > img {
		display: block;
	}
}

.comment {
	margin: 0 0 40px 0;
}

.comment-content {
	@extend %CLEAR;
}

.comment-author {
	text-transform: capitalize;
	margin: 0 0 20px 0;
	font-size: 18px;
	
	.comment-time {
		text-decoration: none;
		color: $MID_GREY;
		
		& span {
			text-transform: lowercase;
		}
	}
}

.child-comments {
	margin: 15px 0 0 1.4em;
	padding: 15px 0 0 1.4em;
	border-left: 1px dotted $LIGHT_GREY;
	border-bottom: 1px dotted $LIGHT_GREY;
	
	& .comment,
	& .comment:last-child {
		margin-bottom: 1.4em;
	}
}

.bypostauthor {
	background: $SUPER_LIGHT_GREY;
	border-radius: 3px;
	padding: 15px;
}

.comment-meta-item {
	display: inline-block;
	margin: 20px 20px 0 0;
}

.Comments-label {
	display: block;
	margin: 10px 0 5px 0;
}

.Comments-input {
	border: 1px solid $LIGHT_GREY;
	border-radius: 2px;
	box-sizing: border-box;
	display: block;
	font-family: $SERIF_FONT;
	font-size: 16px;
	outline: none;
	padding: 8px 10px;
	width: 100%;
	
	transition: border $ANIM_SPEED;
	
	&:hover,
	&:focus {
		border: 1px solid $DARK_GREEN;
	}
}