.ui-Comments {
	background: $WHITE;
	box-shadow: $SHADOW;
	display: block;
	margin-bottom: 40px;
	min-height: 100px;
	padding: 70px 12% 0 12%;
	
	& p {
		margin-bottom: 40px;
	}
}

.ui-CommentsClosed {
	font-style: italic;
	padding: 0 0 60px 0;
	text-align: center;
}