html, body {
	height: 100%;
}

body {
	background: $BODY_COLOR;
	color: $SERIF_FONT_COLOR;
	font-family: $SERIF_FONT;
	font-size: $SERIF_FONT_SIZE;
	line-height: $BASE_LINE_HEIGHT;
	
	@media screen and (max-width: 1024px) {
		& {
			font-size: 17px;
		}
	}
	
	@media screen and (max-width: 640px) {
		& {
			font-size: 16px;
		}
	}
}

a {
	color: $DARK_GREEN;
	transition: color $ANIM_SPEED;
	text-decoration: none;
	
	&:hover {
		color: $MID_GREEN;
	}
}

.ui-Container {
	@extend %CLEAR;
	box-sizing: border-box;
	margin: 0 auto;
	padding-right: 55px;
	position: relative;
	width: 1180px;
	min-height: 100%;
	
	@media screen and (max-width: 1200px) {
		& {
			padding-right: 45px;
			width: 100%;
		}
	}
	
	@media screen and (max-width: 1024px) {
		& {
			padding-right: 5%;
		}
	}
	
	@media screen and (max-width: 800px) {
		& {
			padding: 0;
			width: 90%;
			position: relative;
		}
	}
	
	@media screen and (max-width: 560px) {
		& {
			width: 95%;
		}
	}
}

.ui-ContentContainer {
	float: right;
	width: 72%;
	max-width: 900px;
	margin: 40px 0 0 0;

	@media screen and (max-width: 800px) {
		& {
			position: relative;
			width: 100%;
		}
	}
}

.ui-Post,
.ui-Author {
	background: $WHITE;
	margin-bottom: 40px;
	min-height: 100px;
	box-shadow: $SHADOW;
}

.ui-PostHeader {
	text-align: center;
	
	& > h1 {
		color: $DARK_GREEN;
		font-family: $SANS_SERIF_FONT;
		margin: 0;
		padding: 70px 12% 0 12%;
	}
}

.ui-PostFeature {
	background: $BLACK;
	box-sizing: border-box;
	position: relative;
	
	&.featured-twitter iframe {
		padding: 80px 0 !important;
		margin: 0 auto !important;
		max-width: 80% !important;
	}
	
	&.featured-video,
	&.featured-codepen {
		
		&:before {
			display: block;
			content: "";
			width: 100%;
			padding-top: 56.25%;
		}
		
		& iframe {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100% !important;
			height: 100% !important;
		}
	}
	
	&.featured-vine iframe {
		background: $WHITE;
		border-radius: 3px;
		padding: 10px !important;
		margin: 40px auto !important;
		max-width: 75% !important;
		box-shadow: $SHADOW;
	}
	
	&.featured-instagram {
		padding: 40px 0;
		
		& > iframe {
			margin: 0 auto !important;
			max-width: 60% !important;
		}
	}
}

.ui-PostImage {
	display: block;
	width: 100%;
	margin: 0 auto;
}

.ui-PostMeta {
	color: $LIGHT_GREY;
	font-size: 14px;
	font-family: $SANS_SERIF_FONT;
	font-weight: normal;
	padding: 20px 12% 0;
	text-transform: uppercase;
	
	& > span {
		display: inline-block;
		padding: 0 8px;
	}
}

.ui-PostBody {
	font-family: $SERIF_FONT;
	padding: 40px 12% 0 12%;
	
	& a {
		font-weight: bold;
		text-decoration: underline;
	}
	
	& img {
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}
	
	& p img {
		margin: 40px auto;
	}
	
	& figure {
		margin: 0 -9% 40px -9%;
		padding: 5px 0 0 0;
		text-align: center;
		
		
		& > figcaption {
			color: $LIGHT_GREY;
			font-size: 0.9em;
			font-style: italic;
			text-align: center;
		}
	}
	
	& p {
		line-height: 180%;
		margin-bottom: 40px;
	}
	
	& blockquote p {
		margin: 0;
	}
}

.nav-ReadMore {
	@extend %PRIMARY_BUTTON;
	margin: 0 auto;
}

.ui-PostFooter {
	@extend %CLEAR;
	margin-top: 40px;
	padding: 0 12% 60px;
	text-align: center;
}

.ui-PostTags {
	font-size: 16px;
	font-weight: bold;
	margin: 0 0 40px 0;
	
	& > span {
		font-weight: normal;
	}
	
	& > span > a {
		font-style: italic;
		text-transform: capitalize;
	}
	
	&::before {
		border-top: 5px solid $LIGHT_GREY;
		content: '';
		display: block;
		margin: 0 auto 20px;
		opacity: .75;
		width: 50px;
	}
}

.soc-SharePost {
	display: block;
	font-size: 30px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	
	& > li {
	 	display: inline-block;
	 	margin: 0;
	 	padding: 0 10px;
	}
	
	& > li:first-child {
		color: $DARK_GREY;
		display: block;
		font-size: 16px;
		font-family: $SANS_SERIF_FONT;
		margin: 0;
		padding: 0 0 20px 0;
	}
}

.nav-PageNavigation {
	@extend %CLEAR;
	font-family: $SANS_SERIF_FONT;
	font-size: 18px;
	margin-bottom: 60px;
	
	& a {
		color: $LIGHT_GREY;
		
		&:hover {
			color: $MID_GREEN;
		}
	}
	
	.nav-PrevPosts {
		float: left;
	}
	
	.nav-NextPosts {
		float: right;
	}
}

.nav-PostNavigation {
	@extend %CLEAR;
	border-top: 1px dotted $LIGHT_GREY;
	font-size: 16px;
	line-height: 140%;
	margin-top: 40px;
	padding-top: 40px;
		
	.nav-PrevPost,
	.nav-NextPost {
		position: relative;
		width: 30%;
		
		& > a {
			color: $LIGHT_GREY;
		}
		
		&:hover {
			& > a {
				color: $MID_GREEN;
			}
			
			& > a::before,
			& > a::after {
				color: $MID_GREEN;
			}
		}
	}
	
	.nav-PrevPost {
		float: left;
		padding-left: 25px;
		text-align: left;
		
		a::before {
			color: $LIGHT_GREY;
			content: '\f053';
			font-family: $FONT_ICONS;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	.nav-NextPost {
		float: right;
		padding-right: 25px;
		text-align: right;
		
		a::after {
			color: $LIGHT_GREY;
			content: '\f054';
			font-family: $FONT_ICONS;
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}

.ui-TextQuote {
	background-image: $PATTERN_BG;
	background-color: $BLACK;
	box-sizing: border-box;
	color: $WHITE;
	display: block;
	font-style: italic;
	font-size: 34px;
	line-height: 160%;
	margin: 0;
	padding: 60px 60px 30px 60px;
	position: relative;
	text-align: center;
	width: 100%;
	height: 100%;
	
	& * {
		position: relative;
		z-index: 3;
	}
	
	& cite {
		background: $TRUE_BLACK;
		border-radius: 2px;
		color: $WHITE;
		display: inline-block;
		font-family: $SANS_SERIF_FONT;
		font-size: 14px;
		font-style: normal;
		opacity: .5;
		text-transform: uppercase;
		margin: 60px 0 0 0;
		padding: 0 20px;
		z-index: 3;
		
		transition: opacity $ANIM_SPEED;
	}
	
	&Overlay,
	&Image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	
	&Overlay {
		background-color: rgba(0,0,0,.75);
		z-index: 2;
	}
	
	&Image {
		background-color: transparent;
		background-size: cover;
		z-index: 1;
	}
	
	&:hover {
		color: $WHITE;
		
		& cite {
			opacity: 1;
		}
	}
}

.ui-ImageFeature {
	display: block;
	width: 100%;
	height: 100%;
	
	& > img {
		display: block;
		width: 100%;
	}
}