html, body {
	box-sizing: border-box;
	height: 100%;
}

body {
	box-sizing: border-box;
	background: $BODY_COLOR;
	color: $SERIF_FONT_COLOR;
	font-family: $SERIF_FONT;
	font-size: $SERIF_FONT_SIZE;
	line-height: $BASE_LINE_HEIGHT;
	
	transition: font-size $ANIM_SPEED;
	
	@media screen and (max-width: 1024px) {
		font-size: 17px;
	}
	
	@media screen and (max-width: 640px) {
		font-size: 16px;
	}
}

a {
	color: $DARK_GREEN;
	transition: color $ANIM_SPEED;
	text-decoration: none;
	
	&:hover {
		color: $MID_GREEN;
	}
}

.Post,
.Author {
	background: $WHITE;
	margin-bottom: 40px;
	min-height: 100px;
	box-shadow: $SHADOW;
}

.nav-ReadMore {
	@extend %PRIMARY_BUTTON;
	margin: 0 auto;
}