/*
Styles for the primary site navigation. Basically, everything in the left sidebar is here.
*/

.nav-Primary {
	box-sizing: border-box;
	float: left;
	font-size: 13px;
	padding: 0 2% 0 0;
	text-align: right;
	width: 22%;
	height: 100%;

	@media screen and (max-width: 800px) {
		& {
			padding: 0 30px;
			position: relative;
			overflow: hidden;
			width: 100%;
			height: 140px;
			
			transition: .1s;
		}
	}
}
	
.nav-Intro {
	@extend %CLEAR;
	padding-bottom: 200px;
	
	@media screen and (max-width: 800px) {
		& {
			padding: 0;
		}
	}
}

.img-Logo {
	max-width: 100%;
}

.nav-Title {
	font-size: 66px;
	letter-spacing: -14px;
	margin: 30px 0;
	text-transform: uppercase;
	
	& > a {
		text-decoration: none;
		
		& > span {
			transition: color $ANIM_SPEED;
		}
		
		& > .a {
			color: $WHITE;
		}
		
		& > .b {
			color: rgba(255,255,255,0.3);
			letter-spacing: 0;
		}
	}
	
	& > a:hover .a {
		color: rgba(255,255,255,0.3);
	}
	
	& > a:hover .b {
		color: $WHITE;
	}
	
	@media screen and (max-width: 800px) {
		& {
			float: right;
		}
	}
}

.nav-Background {
	background: $PATTERN_BG;
	background-color: #202020;
	bottom: 0;
	position: absolute;
	top: 0;
	right: 78%;
	left: -120%;
	height: inherit !important;
	z-index: -1;

	box-shadow: 0 0 2px 3px rgba(0,0,0,0.03),0 1px 5px rgba(0,0,0,0.1);
	
	// Hide the navigation when smaller than 800 pixels.
	@media screen and (max-width: 800px) {
		& {
			top: 0;
			left: 0;
			right: auto;
			bottom: auto;
			width: 100%;
			height: 100%;
		}
	}
}

.nav-Links {
	list-style-type: none;
	margin: 0;
	padding: 0;
	
	& > li {
		margin: 0;
		padding: 0;
		overflow: hidden;
		
		& > a {
			color: $WHITE;
			font-family: $SANS_SERIF_FONT;
			font-size: 22px;
			text-decoration: none;
			text-transform: uppercase;
			
			&:hover {
				color: $LIGHT_GREEN;
			}
		}
	}
	
	& > .nav-MobileMenu {
		display: none;
	}
	
	@media screen and (max-width: 800px) {
		
		& {
			display: block;
			float: left;
			width: 50%;
		}
		
		& > li {
			border-top: 1px solid rgba(0,0,0,0);
			opacity: 0;
			text-align: left;
			width: 200%;
		}
		
		& > .nav-MobileMenu {
			border: 0;
			box-sizing: border-box;
			cursor: pointer;
			display: block;
			opacity: 1;
			height: auto;
			max-height: 100%;
			line-height: 48px;
			margin-top: 50px;
			text-align: center;
			width: 42px;
			
			transition: none;
			
			&::before {
				content: '\f0c9';
				color: $WHITE;
				display: block;
				opacity: 1;
				font-family: $FONT_ICONS;
				font-size: 40px;
			}
		}
	}
}


.nav-Footer {
	
	@media screen and (max-width: 800px) {
		& {
			// ORIG display: none;
			opacity: 0;
			max-height: 0;
		}
	}
	
	// Social media buttons
	.nav-Social {
		list-style-type: none;
		margin: 0;
		padding: 0;
		
		& > li {
			display: inline-block;
			font-size: 20px;
			
			// Make the social media icons slightly smaller
			// as the screen size decreases.
			@media screen and (max-width: 1024px) {
				& {
					font-size: 18px;
				}
			}
			
			a {
				color: $WHITE;
		
				&:hover {
					color: $LIGHT_GREEN;
				}
			}
		}
	}
}

.nav-Primary.active {
	height: 100%;
	transition: height $ANIM_SPEED;
	
	@media screen and (max-width: 800px) {
			
		.nav-Links {
			& > li {
				border-top: 1px solid rgba(255,255,255,.15);
				display: block;
				opacity: 1;
				vertical-align: bottom;
			
				transition:
					opacity $ANIM_DELAYED,
					border-top $ANIM_DELAYED;
				
				&:nth-child(2) {
					margin-top: 40px;
				}
				
				& > a {
					display: inline-block;
					padding: 15px 30px 15px 0;
				}
			}
			
			& > .nav-MobileMenu {
				border: 0;
			}
		}
	
		.nav-Footer {
			
			@media screen and (max-width: 800px) {
				& {
					// ORIG display: block;
					opacity: 1;
					max-height: 9999%;
					margin: 25px 0 30px 0;
					
					transition: opacity $ANIM_DELAYED;
				}
				
				& > .nav-Social > li {
					font-size: 22px;
					margin: 0 0 10px 5px;
				}
			}
		}
		
		.nav-Search {
			// ORIG display: block;
			opacity: 1;
			margin: 60px 0 0 0;
			max-height: 9999%;
			transition: opacity $ANIM_DELAYED;
		}
		
	}
	
}