.ui-ArchiveTitle,
.ui-SearchTitle {
	display: block;
	margin: 0 0 40px 0;
	text-align: center;
	
	& > span {
		background: $WHITE;
		color: $MID_GREY;
		display: inline-block;
		font-size: 16px;
		font-style: italic;
		margin: 0;
		padding: 6px 20px;
		text-align: center;
		text-transform: capitalize;
	}
	
	& strong {
		font-weight: 400;
		text-transform: lowercase;
	}
}

.nav-Search {
	box-sizing: border-box;
	margin: 0 0 20px 0;
	text-align: right;
	
	&Form {
		box-sizing: border-box;
		margin: 0;
		padding: 0 0 0 25px;
		text-align: right;
		width: 100%;
	}
	
	&Input {
		background: transparent;
		border: 1px solid $DARK_GREY;
		border-radius: 2px;
		box-sizing: border-box;
		color: $WHITE;
		display: inline-block;
		font-family: $SERIF_FONT;
		font-size: 14px;
		outline: 0;
		padding: 10px 14px;
		width: 75px;
		
		transition:
			background $ANIM_SPEED ease-in-out 0s,
			width $ANIM_SPEED ease-in-out 0s;
		
		&:hover,
		&:focus {
			background: $DARK_GREY;
			width: 100%;
		}
		
		&:hover {
			transition:
				background $ANIM_SPEED ease-in-out $ANIM_SPEED,
				width $ANIM_SPEED ease-in-out $ANIM_SPEED;
		}
	}
	
	@media screen and (max-width: 800px) {
		opacity: 0;
		position: relative;
		max-height: 0;
		margin: 0;
		
		&Form {
			padding: 0;
		}
		
		&Input {
			font-size: 18px;
			width: 90px;
		}
	}
}