$BLACK: #202020;
$TRUE_BLACK: #000;
$WHITE: #FFF;
$SUPER_LIGHT_GREY: #F5F5F5;
$LIGHT_GREY: #A1AEA0;
$MID_GREY: #5A625A;
$DARK_GREY: #3B3C3B;

$BODY_COLOR: $SUPER_LIGHT_GREY;

$SERIF_FONT: 'Lora', serif;
$SANS_SERIF_FONT: 'Oswald', sans-serif;
$MONOSPACE_FONT: monospace;
$FONT_ICONS: 'FontAwesome';

$SERIF_FONT_COLOR: $DARK_GREY;
$SERIF_FONT_SIZE: 18px;

$BASE_LINE_HEIGHT: 160%;

$LIGHT_GREEN: #00AB65;
$MID_GREEN: #009E5D;
$DARK_GREEN: #00844E;

$PATTERN_BG: url('img/pattern.png');

$ANIM_SPEED: 300ms;
$ANIM_DELAYED: $ANIM_SPEED $ANIM_SPEED;

$FOOTER_BG: #2B2D34;

$SHADOW: 0 0 2px 1px rgba(0,0,0,.06), 0 1px 5px rgba(0,0,0,.1);