$BLACK: #202020;
$WHITE: #FFF;
$LIGHT_GREY: #A1AEA0;
$MID_GREY: #5A625A;
$DARK_GREY: #434843;

$BODY_COLOR: #F5F5F5;

$SERIF_FONT: "Lora", serif;
$SERIF_FONT_COLOR: $DARK_GREY;
$SERIF_FONT_SIZE: 18px;
$BASE_LINE_HEIGHT: 1.6em;
$SANS_SERIF_FONT: "Oswald", sans-serif;
$FONT_ICONS: 'FontAwesome';

$M_GREEN: #009E5D;
$L_GREEN: #00AB65;
$D_GREEN: #006B3F;

$LIGHT_GREEN: #00AB65;
$MID_GREEN: #009E5D;
$DARK_GREEN: #00844E;

$ANIM_SPEED: 0.3s;

$FOOTER_BG: #2B2D34;

$SHADOW: 0 0 2px 1px rgba(0,0,0,.06), 0 1px 5px rgba(0,0,0,.1);